NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAHSRuJKE5rpDbzWJ7Hhzciuhqbh1SF-v0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cpm-organiser.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cpm-organiser
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cpm-organiser.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=241481791157
NEXT_PUBLIC_FIREBASE_APP_ID=1:241481791157:web:caa226d16404fd25a7b0fc
NEXT_PUBLIC_GEMINI_API_KEY=
